<?xml version="1.0" encoding="UTF-8"?>
<configuracion_pcam>
    <app><!--Esta area no es editable desde la app, solo a nivel de archivo-->
        <header>
            <color_fondo>white</color_fondo>
        </header>
        <pagina_login>
            <imagen_fondo>red_gmo_difusa.jpg</imagen_fondo>
            <imagen_fondo_opacy>0.2</imagen_fondo_opacy>
        </pagina_login>
        <pagina_contenido>
            <imagen_fondo>red_gmo_difusa.jpg</imagen_fondo>
        </pagina_contenido>
    </app>
    <pagina>
        <titulos>
            <titulo_pagina>PCAM</titulo_pagina>
            <titulo1>Gerencia Regional de Transmisión Central</titulo1>
            <titulo2>Zona de Operación de Transmision Guerrero Morelos</titulo2>
            <titulo3>PCAM</titulo3>
        </titulos>
        <texto_color>
            <titulo_pagina_color>#000000</titulo_pagina_color>
            <titulo1_color>#00a969</titulo1_color> <!--#00A969-->
            <titulo2_color>#8dc63f</titulo2_color> <!--#8DC63F-->
            <titulo3_color>#000000</titulo3_color>
        </texto_color>
        <sombras_texto>1</sombras_texto>
    </pagina>
    <canvas>
        <tipo_fondo>1</tipo_fondo><!--0:ninguno, 1: imagen, 2:color-->
        <tipo_fondo_opacity>0.2</tipo_fondo_opacity>
        <tipo_fondo_background_color>#cd1d8d</tipo_fondo_background_color>
    </canvas>
    <bd_sqlite>
        <ruta_bd>database/contenedorarchivos.db</ruta_bd>
    </bd_sqlite>
    <archivo_zip>
        <nombre>PCAM</nombre>
        <ext>zip</ext>
        <agregar_fecha>1</agregar_fecha><!-- 0:NO , 1:SI -->
    </archivo_zip>
    <servidor_smtp>
        <ip>10.26.1.9</ip>
        <port>25</port>
        <remitente>noreply@cfe.mx</remitente>
    </servidor_smtp>
</configuracion_pcam>
